<?xml version="1.0" encoding="UTF-8" ?>
<configuration>





<appender name="mainServer_Error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/betl-common_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>30</maxHistory>
			<fileNamePattern>logs/betl-common_error_%d{yyyy-MM-dd}_%i.zip
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<immediateFlush>true</immediateFlush>
			<pattern>[%level][%d{yyyy-MM-dd}%d{HH:mm:ss:SSS}][%thread][%logger{40}]- %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印ERROR日志 -->
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="mainServer"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/betl-common.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>30</maxHistory>
			<fileNamePattern>logs/betl-common_%d{yyyy-MM-dd}_%i.zip
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<immediateFlush>true</immediateFlush>
			<pattern>[%level][%d{yyyy-MM-dd}%d{HH:mm:ss:SSS}][%thread][%logger{40}]- %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
		<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> --><!-- 只打印INFO日志 -->
			<level>DEBUG</level>
			<!-- <level>INFO</level> -->
			<!-- <onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch> -->
		</filter>
	</appender>


	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%level][%d{yyyy-MM-dd} %d{HH:mm:ss:SSS}][%thread][%logger{40}]- %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="asyncMain" class="ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>512</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="mainServer" />
	</appender>



	<root level="INFO">
		<appender-ref ref="mainServer_Error" />
		<appender-ref ref="asyncMain" />
		<appender-ref ref="console" />
	</root>












</configuration>  
